@import 'variables';

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100%;
  margin: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 60px;
  font-weight: lighter;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.loader {
  position: fixed;
  left: 50% - $loader-radius;
  top: 50% - $loader-radius;
  z-index: 9999;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: $loader-radius * 2;
  height: $loader-radius * 2;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title-menu {
  margin-bottom: 30px;
}

#app {
  min-height: 100%;
}

#body {
  padding-bottom: $footer-height;
  overflow: auto;
}

#footer {
  position: relative;
  margin-top: -$footer-height;
  clear: both;
  width: 100%;
  height: $footer-height;
  background-color: $footer-color;
}

.leading-icon {
  width: $leading-icon;
  height: $leading-icon;
  margin-right: $leading-icon / 4;
}

.hidden {
  visibility: hidden;
}